<section class="container">
	<div class="event__meta">
		<h1>EVENT NAME</h1>
		<p>event name: {{name}}</p>
		<p>date: {{date}}</p>
		<p>capacity: {{capacity}}</p>
		<p class="amount-checked"></p>
		<p>description: {{description}}</p>
	</div>
	<div class="attendee__search">
		<input type="number" class="attendee__search__input" id="attendee__search__input">
	</div>
	<ul class="event__attendee__list" id="event__attendee__list">
		{{#each guests}}
		<li class="event__attendee">
			<div class="checkbox-wrap">
				<input id="event__attendee__checkbox--{{id}}" class="event__attendee__checkbox event__attendee__checkbox--{{id}}" name="event__attendee__checkbox--{{id}}" type="checkbox" data-attendeeId="event__attendee__checkbox--{{id}}"/>
			</div>
			<label class="event__attendee__label" for="event__attendee__checkbox--{{id}}">
				{{username}}
			</label>
		</li>
		{{/each}}
	</ul>
</section>


