.container {
	@extend .columns;
	@extend .small-12;
	@extend .medium-10;
	@extend .medium-push-2;
	padding-top: 3em;
}
.dashboard__event-list {
	// @extend .row;
	max-width: 100%!important;
	margin-right: 0!important;
	margin-left: 0;
}

.dashboard__event {
	@extend .columns;
	@extend .small-12;
	padding: 1em;
	margin-bottom: 1em;
	background: white;
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,.1);
	list-style: none;
}

.dashboard__event__name {
	@extend .columns;
	@extend .small-6;
}

.dashboard__event__date {
	@extend .columns;
	@extend .small-6;
	text-align: right;
}
