.guestlist {
}

.guestlist__item {
}

.events__list {
}

.event__attendee__list {
	@extend .dashboard__event-list;
	@extend .clearfix;
}

.event__attendee {
	@extend .dashboard__event;
	padding-top: 0;
	padding-bottom: 0;
}

// .event__attendee__checkbox {
.checkbox-wrap {
	@extend .columns;
	@extend .small-1;
	padding: 1.5em 0 0.7em 0;
}

.event__attendee__checkbox {
}

.event__attendee__label {
	@extend .columns;
	@extend .small-11;
	cursor: pointer;
	padding: 1.5em 0 0.7em 0;
}

.checkbox-wrap .event__attendee__checkbox:checked + .event__attendee__label {
	text-decoration: line-through;
	//broken due to wrap
}

// .add-attendee {
// 	@include breakpoint(medium) {
// 		position: fixed;
// 		bottom: 0;
// 		left: 0;
// 		background: blue;
// 		width: 100%;
// 	}
// }


